# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL
4) Java
5) MATLAB

Some of the commonly used libraries used by Data Scientists include:

1) NumPy
2) Keras
3) Pandas
4) PyTorch
5) SciPy
6) Scikit-Learn
7) TensorFlow
8) Matplotlib

|Data Science Tools|
|---|
|SAS| 
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
 #This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives__ 

* List popular languages for Data Science
* Create Markdown cells
* To Provide comments in cell
* List popular libraries for Data Science

## Author
 Tanishka  Hegde